@model PizzaDetailsViewModel

<p>Pizza @Model.Name costs @Model.Price.</p>
@{
    if(@Model.IsOnPromotion == false)
    {
        <p>The pizza is on promotion!</p>
    }
    else
    {
        <p>The pizza is not on promotion!</p>
    }
}
